{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INICIO PAGE</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<body>
    <div class="card-grid-space">
        <a class="card" style="--bg-img: url('{% static 'imagenIngresar.jpeg' %}')">
            <div>
                <p class="fw-light">TPUBLICACION</p>
                <p class="fst-italic">NOMBRE APELLIDO </p>
            </div>
        </a>
    </div>
</body>
</html>




