
* {
  box-sizing: border-box;
}

.card {
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.card p.fst-italic {
  font-style: italic;
  margin: 0;
  line-height: 1.2em;
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-family: 'fst-italic'; 
}

.card p {
  /* Otras propiedades de estilo para el párrafo */
  font-size: 0.75em;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.5em;
  line-height: 2em;
}

.card p.fw-light {
  font-weight: 300;
}