.body {
    padding: 1rem; /* Equivalente a p-3 en Bootstrap */
    margin-bottom: 2rem; /* Equivalente a mb-2 en Bootstrap */
    color: #fff; /* Equivalente a text-light en Bootstrap */
    background-color: #18191A;
    height: 730px;
}

.navbar {
    background-color: #252727;
    border-bottom: 1px solid #ccc;
}

.custom-p {
    color: #fff; 
}

.container-fluid.with-height{
    height: 2.5rem;
}

.nav-link {
    position: absolute;
    left: 800px;
    top: 4px;
}

.btn {
    width: 170px;
    border: none !important;
}

.reduce-left-margin {
    margin-left: -19px;

}

.my-2 {
    border-bottom: 1px solid #ccc; 
}